* {
	margin: 0;
	padding: 0;
}

body {
	background: #f7ede3;
	color: #2b334a;
	font-family: 'Roboto', sans-serif;
}

.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, auto);

	grid-template-areas: 
						 "contenido contenido sidebar"
						 "widget-1 widget-2 sidebar"
						 ;
}

.contenedor > div,
.contenedor .contenido,
.contenedor .sidebar
 {
	background: #f7ede3;
	padding: 20px;
	border-radius: 4px;
    box-shadow: 0 0 0.5rem #2b334a;
}


.contenedor .contenido {
	grid-area: contenido;
}

.contenedor .sidebar {
	grid-column: 3 / 4;
	background: #f7ede3;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100px;
	grid-area: sidebar;
}

.contenedor .widget-1,
.contenedor .widget-2 {
	background: #f7ede3;
	color: #2b334a;
	height: 100px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.contenedor .widget-1 {
	grid-area: widget-1;
}

.contenedor .widget-2 {
	grid-area: widget-2;
}



@media screen and (max-width: 768px){
	.contenedor {
		grid-template-areas: 
						 "contenido contenido contenido"
						 "sidebar sidebar sidebar"
						 "widget-1 widget-1 widget-2"
						 ;
	}
}
@media screen and (max-width: 600px){
	.contenedor {
		grid-template-areas: 
						 "contenido contenido contenido"
						 "sidebar sidebar sidebar"
						 "widget-1 widget-1 widget-1"
                         "widget-2 widget-2 widget-2"
						 ;
	}
}